@charset "UTF-8";

.su-masthead {
  >section {
    &:last-of-type {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  // Main menu
  .region-menu {
    width: 60%;
  }
}

.su-masthead--inner {
  flex-direction: row;

// Layout
  .region.region-header {
    max-width: 300px;
  }

  // Logo
  .su-lockup--option-none .su-lockup__logo-wrapper .su-lockup__custom-logo {
      max-width: fit-content;
    }

  //Drupal main nav tweaks
  // Mobile hamburger toggle
  .su-multi-menu {
    .su-multi-menu__nav-toggle {
      top: 0;

      @include grid-media('lg') {
        top: inherit;
      }
    }

    .su-multi-menu__nav-toggle[aria-expanded=true] {
      +.su-multi-menu__menu-lv1 {
        right: 150px;
        top: 50px;

        @include grid-media('md') {
          right: 0;
        }
      }
    }

    &.su-multi-menu--dropdowns {
      .su-multi-menu__menu-lv1 {
        >.su-multi-menu__item--parent {
          >.su-multi-menu__link {
            &:after {
              border-right: none;
            }
          }

          >.su-nav-toggle {
                border: 1px solid transparent;
                border-radius: 30px;
                background-position-x: center;
                background-position-y: center;
                transition: none!important;
                right: 14px;

              &:before {
                //change caret to be gray.
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none"><path d="M5.66648 6.93773C6.01805 7.2893 6.58898 7.2893 6.94055 6.93773L12.3405 1.53773C12.6921 1.18617 12.6921 0.615234 12.3405 0.263672C11.989 -0.0878906 11.418 -0.0878906 11.0665 0.263672L6.30211 5.02805L1.53773 0.266484C1.18617 -0.0850784 0.615234 -0.0850784 0.263672 0.266484C-0.0878906 0.618047 -0.0878906 1.18898 0.263672 1.54055L5.66367 6.94055L5.66648 6.93773Z" fill="%23767674"/></svg>');
                margin-top: 0;
              }

              &:hover, &:focus {
                // &:before {
                border: 1px solid $su-color-black-30;
                transition: none!important;

                &:before {
                  // red caret
                  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none"><path d="M5.66648 6.93773C6.01805 7.2893 6.58898 7.2893 6.94055 6.93773L12.3405 1.53773C12.6921 1.18617 12.6921 0.615234 12.3405 0.263672C11.989 -0.0878906 11.418 -0.0878906 11.0665 0.263672L6.30211 5.02805L1.53773 0.266484C1.18617 -0.0850784 0.615234 -0.0850784 0.263672 0.266484C-0.0878906 0.618047 -0.0878906 1.18898 0.263672 1.54055L5.66367 6.94055L5.66648 6.93773Z" fill="%23B1040E"/></svg>');
                  margin: 0;
                }
              }
          }
        }
      }
      .su-multi-menu__menu-lv2 {
        >.su-multi-menu__item--parent {


          >.su-nav-toggle {
            right: 14px;
          }
        }
      }
    }
  }

  // Search
  .region {
    &.region-search {
      left: -39%;
      max-width: 60px;

      @include grid-media('lg') {
        order: 3;

        #search-results-key,
        .su-site-search__input {
          display: none;
        }

        .su-site-search__submit {
          border: 1px solid $su-color-black-30;
          border-radius: 30px;
          background-position-x: center;
          background-position-y: center;
        }

        .su-sr-only-text {
          overflow: hidden;
          text-indent: 20px;
          white-space: nowrap;
        }

        .su-site-search__submit {
          padding: 14px;
          top: 5px;
          right: -20px;
          transform: scaleX(-1);
          background-size: 16px;
        }
      }
    }
  }
}

