@charset "UTF-8";

$wave1: url("../../assets/images/wave1.svg") no-repeat;
$wave2: url("../../assets/images/wave2.svg") no-repeat;
$wave3: url("../../assets/images/wave3.svg") no-repeat;


@mixin set-card-color($backgroundColor, $waveColor, $waveOption: $wave1) {
  .su-card {
    background-color: $backgroundColor;
  }
}

