@charset "UTF-8";
/* Subtheme Specific colors, Stanford/Decanter colors are not defined here */

// All variable names should be prefaced with your abbreviation (saa, soe, ood, etc)

// define colors here in the format of:
//$abbreviation-color-pink: #ff0099; // like $saa-color-pink



/* --- Color Variables --- */
$su-color-digital-red-xlight: #f83535;
$su-digital-red-light: #E50808;
$su-digital-red: #B1040E;
$su-digital-red-dark: #820000;

$su-color-digital-red-dark: #7A0000;

/* --- STVP Color Variables --- */
$svtp-color-red: #CD0E0E;
$svtp-color-red-medium: #AD030D;



/* --- Palo Verde Teal Colors -- */
$su-color-palo-alto-light: #59B3A9;
$svtp-color-palo-verde-dark: #00908E;


/* --- Color Gradients --- */
$gradient-red-bright: linear-gradient(to right, $su-color-digital-red-xlight, $su-digital-red-dark); 
$gradient-red-medium: linear-gradient(to right, $svtp-color-red, $svtp-color-red-medium); 

$gradient-palo-verde-bright: linear-gradient(to right, $su-color-palo-alto-light, $svtp-color-palo-verde-dark);