@charset "UTF-8";
/* Subtheme Specific colors, Stanford/Decanter colors are not defined here */

// Notes - since we are moving away from Decanter, are we defining all our colors here now? Or do we reference them from the parent theme?

// For now I have put them in here so we can see which ones are $su-color stanford colors and which ones are new for this subtheme,
// which I called $stvp-color- to differentiate.


// All variable names should be prefaced with your abbreviation (saa, soe, ood, etc)
// define colors here in the format of:
//$abbreviation-color-pink: #ff0099; // like $stvp-color-pink


/* --- Color Variables --- */
$su-color-digital-red-xlight: #f83535;
$su-icon-color-digital-red-light: '%23f83535'; // this is the hex code for the digital red light color, but url encoded for the icons that require it.
$su-color-digital-red-light: #E50808;
$su-color-digital-red: #B1040E;
$su-color-digital-red-xdark: #820000;
$su-color-primary-cardinal-red: #8C1515;

$su-color-digital-red-dark: #7A0000;

/* --- STVP Color Variables --- */
$stvp-color-red: #CD0E0E;
$stvp-color-red-medium: #AD030D;


// note that the 2 gradients are used in several places.
$gradient-red-bright: linear-gradient(270deg, $su-color-digital-red-xdark 0%, $su-color-digital-red-xlight 100%);
$gradient-red-medium: linear-gradient(90deg, $stvp-color-red 0%, $su-color-digital-red 100%);


/* --- Color Families ---- */


/* --- Palo Verde Teal Colors -- */
// Shades of the Main color:
$su-color-palo-alto-20: #DCEFEC; // used in variables
$su-color-primary-white: #FFFFFF; // used in variables
$stvp-color-palo-verde-xlight: #CEE1DE;  // used in variables Wave
$stvp-color-palo-verde-medium: #14857A;  // used in button
$su-color-palo-verde-dark: #017E7C; // used in primary button icon + text
$stvp-color-palo-verde-xdark: #006765; // used in variables
$stvp-color-palo-verde-darkest: #006463;  // used in button
$stvp-color-palo-verde: #279989;  // defined in variables, but haven't used it yet - check back if we need it or if we are using #028771 instead.

$stvp-color-palo-verde-bright: #3DD3C3; // used in button

$gradient-palo-verde: linear-gradient(270deg, $stvp-color-palo-verde-xdark 0%, $stvp-color-palo-verde-medium 100%); // Button gradient
$gradient-palo-verde-bright: linear-gradient(270deg, $stvp-color-palo-verde-darkest 0%, $stvp-color-palo-verde-bright 100%); // Border gradient

/* --- Plum Colors -- */
// Shades of the Main color:
$su-color-plum-xxlight: #F0E5EF;
$su-color-plum-xlight: #EAD6E9;
$stvp-color-plum-medium: #77267A;
$su-color-plum: #620059;
$su-color-plum-dark: #350D36;
$stvp-color-plum-xdark: #32002E;

//bright shades of the Main Color, used for buttons?
$stvp-color-plum-bright: #9C008E;

// note that the 2 gradients are used in several places.
$gradient-plum-bright: linear-gradient(270deg, $stvp-color-plum-xdark 0%, $stvp-color-plum-bright 100%);
$gradient-plum: linear-gradient(270deg, $su-color-plum-dark 0%, $su-color-plum 100%);


/* --- Illuminating Colors -- */
// Shades of the Main color:
$stvp-color-illuminating-xxlight: #F7EFD5;
$stvp-color-illuminating-xlight: #F5E5B7;
$su-color-illuminating: #FEDD5C;
$su-color-illuminating-light: #FFE781;
$su-color-illuminating-dark: #FEC51D;
$stvp-color-illuminating-xdark: #DB9A47;
$stvp-color-illuminating-xxdark: #D58B2D;
$stvp-color-brown: #5C3200;

//bright shade of the Main Color, used for buttons?
$stvp-color-illuminating-bright: #FEC51D;

$su-color-poppy-xxlight: #F7EFD5; // this is used for the background section

// note that the 2 gradients are used in several places.
$gradient-illuminating-bright: linear-gradient(90deg, $su-color-illuminating 0%, $stvp-color-illuminating-xxdark 100%);
$gradient-illuminating: linear-gradient(90deg, $su-color-illuminating-dark 0%, $stvp-color-illuminating-xdark 100%);

/* --- Lagunita Colors -- */
// Shades of the Main color:
$stvp-color-lagunita-xxlight: #DDF1F4;
$stvp-color-lagunita-xlight: #C5E6EB;
$stvp-color-lagunita-light: #009AB4;
$su-color-lagunita: #007C92;
$su-color-lagunita-dark: #006B81;
$stvp-color-lagunita-xdark: #006071;

//bright shade of the Main Color, used for buttons?
$stvp-color-lagunita-bright: #3EBFD5;
// note that the 2 gradients are used in several places.
$gradient-lagunita-bright: linear-gradient(270deg, $stvp-color-lagunita-xdark 0%, $stvp-color-lagunita-bright 100%);
$gradient-lagunita: linear-gradient(270deg, $su-color-lagunita 0%, $stvp-color-lagunita-light 100%);

/* --- Sky Colors - Replacing the Lagunita Colors -- */
// Shades of the Main color:
$stvp-color-sky-xxlight: #D9EEF5; // Section fill
$stvp-color-sky-xlight: #C6E3ED; // Wave color
$stvp-color-sky-light: #009AB4;
$stvp-color-sky: #4298B5;
$stvp-color-sky-dark: #005B83;
$stvp-color-sky-xdark: #003C56;
$stvp-color-sky-xxdark: #016895;

//bright shade of the Main Color, used for buttons border
$stvp-color-sky-bright: #67AFD2;
// note that the 2 gradients are used in several places.
$gradient-sky-bright: linear-gradient(270deg, $stvp-color-sky-xdark 0%, $stvp-color-sky-bright 100%);
$gradient-sky: linear-gradient(270deg, $stvp-color-sky 0%, $stvp-color-sky-dark 100%);

/* --- Poppy Color - New color -- */
// Shades of the Main color:
$stvp-color-poppy-xxlight: #FCECD9; // Section fill
$stvp-color-poppy-xlight: #F9E4C9; // Wave color
$stvp-color-poppy-light: #009AB4;
$stvp-color-poppy: #F6CD99;
$stvp-color-poppy-dark: #F2B566;
$stvp-color-poppy-xdark: #B17323; // Border darker color

//bright shade of the Main Color, used for buttons border
$stvp-color-poppy-bright: #FFD39C; // Border brighter color
// note that the 2 gradients are used in several places.
$gradient-poppy-bright: linear-gradient(270deg, $stvp-color-poppy-xdark 0%, $stvp-color-poppy-bright 100%);
$gradient-poppy: linear-gradient(270deg, $stvp-color-poppy 0%, $stvp-color-poppy-dark 100%);


/* --- Additional Accent Light Colors --- */
$stvp-color-archway-10: #EFEDEB;
$stvp-color-archway-20: #DFDBD8;
$su-color-archway-light: #766253;
$su-color-archway: #5D4B3C;

$su-color-foggy-light: #F4F4F4;
$stvp-color-foggy-xlight: #EAEAEA;
$stvp-color-foggy-light: #BAB5AD;
$stvp-color-foggy: #8F8C89;
$su-color-foggy-dark: #B6B1A9;


// Grays
$stvp-color-light-gray: #C0C0BF;
$su-color-cool-gray: #53565A;
$su-color-black: #2E2D29;
