<div class="su-site-search search-results search-results-page" role="search">
 <form {{ attributes }}>
  <label class="su-site-search__sr-label" for="search-results-key">Search ...</label>
  <input type="text" id="search-results-key" name="key" class="su-site-search__input" placeholder="Search ..." maxlength="128">
  <button type="submit" name="search" class="su-site-search__submit su-sr-only-text">Submit Search</button>
 </form>
</div>