@charset "UTF-8";
@import "../utilities/variables/index.scss";

@mixin secondary-button-style($textcolor){
    color: $textcolor;
    //@TODO: set arrow icon color as well

    // @TODO: include handling the external link icon as well
    // @TODO: include handling the mailto link icon as well
    // Jen has a nice testing page for remembering use cases. :)

    //@TODO: set hover styles as well

    //  &:hover, &:focus {
    //    include button mixins here
    //  }
    
} 

@mixin set-button-color($backgroundGradient, $borderGradient, $textColor: white, $iconColor: white) {
    background: $backgroundGradient;
    background-clip: padding-box; /* !importanté */
    border: solid 2px transparent; /* !importanté */
    // color: $textColor;


    &:hover, &:focus {
        background: $su-color-black;
    }
    //gradient border
    &:before {
        background: $borderGradient;
        margin: -2px; /* !importanté */
        border-radius: inherit; /* !importanté */
    }

    // icon
    // &:after {
    //     color: $iconColor; // @TODO come back to finish this. and test with all icon types.
    // }
}

// override default button styles here and add additional button classes as needed.
.su-button {
    display: inline-flex;
    padding: 15px 30px 18px 30px;
    align-items: center;
    border-radius: 53px;

    /* Shallow */
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.10);

// @TODO: need to limit this to only :not('.secondary')
// &:not(.secondary) {
        // From Example:
        align-items: center;
        margin: auto;

        position: relative;
        box-sizing: border-box;

        $border: 2px;
        color: #FFF;
        background: #E50808;
        background: linear-gradient(90deg, #CD0E0E 0%, #B1040E 100%); 
        background-clip: padding-box; /* important */
        border: solid $border transparent; /* important */

        &:before {
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            margin: -$border; /* important */
            border-radius: inherit; /* important */
            background: linear-gradient(to right, #f83535, #820000);
        }

    // }

        //@TODO: the border gradient is breaking inside a teaser with a background - go back and see why it breaks in just that case.


    &:hover, &:focus {
        background: $su-color-black;
        border-color: $su-color-black;
        background-image: none;

        &:before {
            background: $su-color-black;
        }
    }
    

    // add other styles from figma
    
    // check external link icon & mailto icon (although they might be fine inheriting regular button styles??)

    //  &:hover, &:focus {
    //    include button mixins here
    //  }
    

    &.secondary {
        background: white; // consistent across all page themes.
        color: $su-color-digital-red;
         // set default arrow icon color a different brighter red as well

             //  &:hover, &:focus {
    //    include button mixins here
    //  }
    }
}

/* --- Page Theme Button Overrides --- */
 // so it doesn't affect the footer or other areas with buttons.
.page-theme--palo-verde .page-content {
    .su-button {
        @include set-button-color($gradient-palo-verde, $gradient-palo-verde-bright);
        
        &.secondary {
            @include secondary-button-style($su-color-palo-verde-dark);
        }
    }
}

.page-theme--plum .page-content {
    .su-button {
        @include set-button-color($gradient-plum, $gradient-plum-bright);
        
        &.secondary {
            @include secondary-button-style($su-color-plum);
        }
    }
}

.page-theme--lagunita .page-content {
    .su-button {
        @include set-button-color($gradient-lagunita, $gradient-lagunita-bright);
        
        &.secondary {
            @include secondary-button-style($su-color-lagunita-dark);
        }
    }
}

.page-theme--illuminating .page-content {
    .su-button {
        @include set-button-color($gradient-illuminating, $gradient-illuminating-bright);
        color: $stvp-color-brown;
        
        &:hover, &:focus {
            color: white;
        }

        // @TODO: set the icon color to be brown as well
        &:after {
            color: $stvp-color-brown; // @TODO come back to test with all icon types.
        }

        &.secondary {
            @include secondary-button-style($stvp-color-brown);
        }
    }
}
