@charset "UTF-8";
@import "../utilities/variables/index.scss";

@mixin secondary-button-style($textcolor){
    color: $textcolor;
    //@TODO: set arrow icon color as well

    // @TODO: include handling the external link icon as well
    // @TODO: include handling the mailto link icon as well
    // Jen has a nice testing page for remembering use cases. :)

    //@TODO: set hover styles as well

    //  &:hover, &:focus {
    //    include button mixins here
    //  }
    
} 


// override default button styles here and add additional button classes as needed.
.su-button {
    display: inline-flex;
    padding: 15px 30px 18px 30px;
    align-items: center;
    border-radius: 53px;
    // border: 2px solid var(--Button---border-gradient, #820000);
    // background: var(--Button---fill-gradient, linear-gradient(90deg, #CD0E0E 0%, #B1040E 100%));

    /* Shallow */
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.10);
    background: $gradient-red-medium;
    border: 2px solid $gradient-red-bright;
    // add other styles from figma
    
    // check external link icon & mailto icon (although they might be fine inheriting regular button styles??)

    //  &:hover, &:focus {
    //    include button mixins here
    //  }
    

    &.secondary {
        background: white; // consistent across all page themes.
        color: $su-color-digital-red;
         // set default arrow icon color a different brighter red as well

             //  &:hover, &:focus {
    //    include button mixins here
    //  }
    }
}

/* --- Page Theme Button Overrides --- */

.page-theme--palo-verde {
  .su-button {
        background: $gradient-palo-verde;
        border-color: $gradient-palo-verde-bright;

        &.secondary {
            @include secondary-button-style($su-color-palo-verde-dark);
        }
    }
}

.page-theme--plum {
  .su-button {
        background: $gradient-plum;
        border-color: $gradient-plum-bright;
        
        &.secondary {
            @include secondary-button-style($su-color-plum);
        }
    }
}

.page-theme--lagunita {
  .su-button {
        background: $gradient-lagunita;
        border-color: $gradient-lagunita-bright;
        
        &.secondary {
            @include secondary-button-style($su-color-lagunita-dark);
        }
    }
}

.page-theme--illuminating {
  .su-button {
        background: $gradient-illuminating;
        border-color: $gradient-illuminating-bright;
        color: $stvp-color-brown;
        // @TODO: set the icon color to be brown as well
        
        &.secondary {
            @include secondary-button-style($stvp-color-brown);
        }
    }
}