@import "../utilities/variables/index.scss";

.layout-background {
    position: relative;
    z-index: 1; // this is required for the buttons; :before background element to not fall behind the section's colored background.
}

// We will override a few section backgrounds.

.bg-f2e8f1 {
    background: $su-color-plum-xxlight;
}


// orange but we want to set it more poppy
.bg-f7ecde {
    background: $su-color-poppy-xxlight;
}