@charset "UTF-8";
@import "../../utilities/mixins/index.scss";
@import "../../utilities/variables/index.scss";

$page-title-banner-height: 214px; // this is the height of the banner image, we can adjust as needed.

@mixin ecorner-banner() {

    // background-image: url('../assets/svg/ecorner-small-banner.svg');

    // @media (min-width: 575px) { 
    //     background-image: url('../assets/svg/ecorner-medium-banner.svg'); 
    // }

    // @media (min-width: 1024px) { 
    //     background-image: url('../assets/svg/ecorner-large-banner.svg'); 



        // trying just red background that can stretch without text stretching:
        // graphic element:
        background-image: url('data:image/svg+xml,<svg width="1353" height="185" viewBox="0 0 1353 185" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1048_5)"><path d="M1439.49 185C1432.46 181.825 1425.49 178.521 1418.55 175.13C1435.86 155.485 1453.19 135.809 1471.06 116.868C1477.57 116.868 1484.07 117.124 1490.54 117.644C1506.54 118.971 1522.46 121.867 1538 126.21V111.165C1521.17 106.038 1503.84 102.606 1486.37 100.999C1502.88 84.2735 1519.97 68.3322 1538 53.7347V43.3125C1513.8 60.2856 1491.54 79.5463 1470.3 100.015C1417.55 98.1991 1376.25 113.412 1340.42 136.064C1320.63 126.714 1300.45 118.164 1279.42 111.493C1219.04 91.7522 1156.64 95.2796 1096.62 113.988C1073.41 121.195 1050.61 130.122 1028.02 139.936C984.184 128.538 939.59 122.659 893.594 128.322C863.13 132.081 833.588 140.352 804.358 150.014C770.41 123.187 735.364 97.9751 695.777 79.6423C589.839 29.9389 478.991 58.4139 379.325 106.846C362.672 96.6233 345.746 86.6411 328.091 77.4666C307.832 66.9005 286.981 57.4941 265.794 48.9596C244.926 40.745 222.417 32.9943 200.933 26.9634C135.6 8.53456 67.7281 -0.487877 0 0.0240343V23.9399C87.2334 26.4435 173.85 43.7525 255.236 75.635C257.815 76.5708 260.339 77.6346 262.87 78.6824L270.464 81.8259L278.058 84.9773L285.547 88.3608C308.057 98.0951 329.476 109.429 350.64 121.451C346.987 123.395 343.35 125.354 339.738 127.338C253.922 89.9285 160.897 61.4534 67.2474 77.6026C42.7836 81.6499 20.6268 89.1846 0 99.1189V121.659C21.7643 110.565 45.0826 102.206 70.9082 98.2071C117.208 90.0885 164.79 94.3837 210.498 104.39C247.65 112.509 283.465 124.818 318.662 139.048C292.02 154.085 265.569 169.819 238.839 184.992H284.77C304.604 173.13 324.414 161.236 344.416 149.798C370.65 161.084 396.644 173.13 422.686 184.992H583.302C609.2 179.657 635.434 176.018 662.149 174.842C683.024 173.898 704.108 174.642 724.863 177.473C716.836 180.113 708.794 182.64 700.711 184.992H740.627C743.375 183.912 746.114 182.832 748.854 181.737C753.276 182.712 757.665 183.8 762.031 184.992H785.453C780.07 182.912 774.591 181.033 769.024 179.377C766.333 178.521 763.633 177.705 760.933 176.921C770.81 172.97 780.695 169.027 790.62 165.203C795.41 163.372 800.225 161.572 805.047 159.812C815.613 168.067 826.122 176.514 836.656 184.992H847.71C836.167 175.642 824.664 166.219 813.065 156.933C836.976 148.502 861.336 141.344 886.401 137.456C910.865 133.513 936.041 133.313 960.617 136.408C978.048 138.56 995.174 142.263 1012.02 147.031C985.273 159.149 958.759 172.25 932.148 184.992H949.779C975.461 173.418 1001.17 161.932 1027.3 151.662C1045.09 157.389 1062.57 164.148 1079.77 171.37C1090.17 175.762 1100.58 180.345 1111 184.992H1158.82C1121.27 170.667 1083.63 155.909 1045.46 144.759C1063.49 138.152 1081.76 132.225 1100.4 127.346C1131.95 119.043 1164.09 114.204 1196.56 115.124L1200.95 115.172C1208.13 115.78 1215.68 115.972 1222.77 117.084C1240.12 119.051 1257.41 123.107 1274.1 128.314C1290.98 133.633 1307.44 140.2 1323.71 147.407C1307.72 158.973 1292.72 171.826 1278.09 184.992H1309.19C1320.66 175.202 1332.45 165.771 1344.83 157.125C1361.01 164.804 1377.09 172.858 1393.26 180.689C1391.93 182.129 1390.6 183.56 1389.27 184.992H1439.47L1439.49 185ZM386.142 148.582C379.021 145.191 371.844 141.824 364.602 138.496C367.254 137.04 369.913 135.593 372.572 134.161C391.934 145.543 411.311 157.245 431.345 168.555C441.294 174.202 450.994 179.425 460.519 184.208C435.55 172.418 410.822 160.228 386.142 148.59V148.582ZM741.228 171.962C668.605 156.125 592.05 166.219 520.621 184.592C514.381 182.273 508.205 179.761 502.109 177.089C466.126 161.22 433.372 140.56 400.248 119.851C438.546 100.935 478.222 85.2333 520.725 76.0429C591.073 59.9417 658.24 68.4922 721.658 103.382C738.392 112.445 754.717 122.787 770.274 133.777C778.917 139.912 787.48 146.287 795.995 152.822C777.691 159.029 759.484 165.667 741.22 171.962H741.228ZM1361.4 146.303C1362.81 145.439 1364.24 144.591 1365.66 143.751C1392.2 128.506 1422.11 120.051 1452.54 117.62C1436.28 134.137 1420.49 151.198 1404.73 168.283C1390.29 161.02 1375.9 153.549 1361.4 146.303Z" fill="%238C1515"/></g><defs><clipPath id="clip0_1048_5"><rect width="1538" height="185" fill="white"/></clipPath></defs></svg>');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100% auto;

        @media screen and (max-width: 768px) {
            background-size: 232% 114%; // adjust position and size of graphic for smaller screens.
            background-position: initial;
        }


        // src\assets\svg\ecorner-large-banner.svg

        // solid red background behind graphic:
        &:before {
            background: $su-color-digital-red;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            display: inline-block;
            top: 0;
        }


        &:after {
            content: '';            
            background-image: url('../assets/images/ecorner-banner-text-white.png');
            background-position: center;
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            width: 450px;
            height: 200px;
            margin-left: auto;
            top: 50%;
            left: 50%;
            // transform: translate(-50%, -50%);
            transform: translate(-50%, -36%); // centees it vertically better.
            align-items: center;

            @media screen and (max-width: 566px) {
                background-size: 280px auto;
            }
        }
    // }
} 
// Banner wave variant

    /* --- general for this subtheme --- */

.ptype-stanford-page-title-banner {

    .ds-entity--stanford-page-title-banner {
        @include responsive-spacing('padding-top', 6);
        @include responsive-spacing('padding-bottom', 2);
        max-height: $page-title-banner-height;

    }


    .su-hero {
        max-height: $page-title-banner-height;
        min-height: $page-title-banner-height;
        // @TODO: adjust for mobile later here too.
    }

    .su-hero__media {
        display: none;
    }
    .su-card {
        box-shadow: none;
        background: transparent;
        border: none;
        margin-top: 0;

        .su-card .su-card__contents {
            padding: 0;
        }
    }

    /* --- Color options --- */

    .page-theme--red:not(.ecorner) {
        // set lagunita decoration
        h1 {
            @include decoration-underline-basic($gradient-red-bright);
        }
    }

    .page-theme--lagunita:not(.ecorner) {
        // set lagunita decoration
        h1 {
            @include decoration-underline-basic($gradient-lagunita);
        }
    }

    .page-theme--palo-verde:not(.ecorner) {
        // set lagunita decoration
        h1 {
            @include decoration-underline-basic($gradient-palo-verde);
        }
    }

    .page-theme--plum:not(.ecorner) {
        // set lagunita decoration
        h1 {
            @include decoration-underline-basic($gradient-plum-bright);
        }
    }

    .page-theme--illuminating:not(.ecorner) {
        // set lagunita decoration
        h1 {
            @include decoration-underline-basic($gradient-illuminating);
        }
    }

    /* --- wave options --- */

    .page-theme--wave-grey:not(.ecorner) {
        // @TODO: adjust on mobile if we do a different cropped svg..
        background-image: $wave1-background-large;
        background-repeat: no-repeat;
        width: 100%;
        background-size: 100% 100%;

        @media screen and (max-width: 767px) {
            height: $page-title-banner-height;
            background-repeat: no-repeat;
            // background-size: 139% 91%;
            background-size: 112% 79%;
            background-position: left bottom;
        }
    }

    .ecorner {
        @include ecorner-banner();
    }
}
