@charset "UTF-8";
@import "../../utilities/mixins/index.scss";

$page-title-banner-height: 214px; // this is the height of the banner image, we can adjust as needed.
$wave-background-large: url('data:image/svg+xml,<svg width="1492" height="214" viewBox="0 0 1492 214" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_566_12319" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="-623" width="1492" height="840"><path d="M1492 -623H0V216.25H1492V-623Z" fill="white"/></mask><g mask="url(%23mask0_566_12319)"><path d="M2158.13 180.528C1952.93 108.252 1732.1 93.8523 1517.08 119.706C1355.66 136.281 1193.89 163.526 1030.93 156.835C861.762 150.471 694.433 117.235 524.904 119.232C423.347 120.708 322.715 134.509 221.586 143.539C59.3072 159.446 -104.261 147.953 -265.498 126.746C-319.179 119.224 -374.018 112.766 -426.875 103.426C-373.388 108.601 -318.892 116.97 -264.977 122.41C-103.849 140.889 59.0274 151.069 220.723 134.012C321.798 124.671 423.037 110.63 524.796 109.697C694.518 108.469 861.995 142.878 1031.19 149.911C1248.26 159.757 1462.28 109.332 1678.92 104.327C1840.29 100.768 2009.37 124.959 2158.12 180.536L2158.13 180.528Z" fill="%23EAEAEA"/><path d="M-224.848 88.5063C-119.647 111.244 -14.5074 136.118 92.6136 147.79C132.835 152.243 174.705 154.885 215.191 154.698C224.57 154.512 234.221 154.442 243.477 154.17C255.358 153.369 269.633 153.02 281.095 151.901C413.805 141.55 542.592 93.5807 676.84 99.6419C778.498 103.613 878.012 130.267 979.615 131.324C1004.88 131.782 1030.16 131.261 1055.46 130.228C1118.46 127.617 1182.85 122.208 1245.94 121.641C1411.39 119.489 1575.71 143.174 1740.53 151.87C1790.68 154.419 1841.91 155.266 1892.11 153.564C1936.03 151.924 1980.62 148.365 2024.1 141.775C2080.31 133.515 2135.92 119.862 2189.64 100.753C2190.14 100.574 2190.69 100.839 2190.86 101.336C2191.03 101.81 2190.8 102.338 2190.34 102.533C2134.95 126.56 2075.99 143.205 2016.47 154.03C1947.43 166.277 1876.78 171.126 1806.73 171.444C1643.21 172.408 1466.28 146.049 1302.87 140.252C1233.73 137.431 1163.19 140.812 1093.96 142.7C1030.33 144.293 966.172 143.407 903.01 134.564C827.688 124.493 752.785 107.778 676.638 105.796C651.539 105.105 625.973 106.426 601.036 109.262C487.419 122.644 378.363 165.391 263.277 170.31L244.052 171.266C237.641 171.421 231.23 171.398 224.819 171.468L215.198 171.545C211.997 171.553 208.788 171.646 205.586 171.499L186.376 170.932L176.772 170.644C160.686 169.82 161.58 169.665 148.02 168.865C84.5786 163.992 21.0753 153.097 -40.9593 139.157C-102.854 125.161 -164.531 108.244 -225.322 90.3325C-225.827 90.1848 -226.123 89.6486 -225.967 89.1435C-225.827 88.6617 -225.33 88.3742 -224.848 88.4752V88.5063Z" fill="%23EAEAEA"/><path d="M-292.874 206.848C-248.239 155.39 -186.631 119.24 -120.439 103.263C17.7415 69.6616 108.404 143.259 239.653 129.567C292.821 124.539 344.388 109.635 396.515 97.0849C449.442 83.9522 504.88 75.0002 559.734 76.1969C734.329 77.9143 903.904 152.677 1079 128.681C1208.66 108.609 1312.7 54.423 1442.02 119.83C1524.46 158.824 1603.05 223.649 1699.19 199.194C1750.77 187.716 1799.91 160.534 1849.82 143.624C1914.75 121.384 1986.04 118.035 2052.82 133.266C2105.92 145.186 2156.51 168.437 2199.33 201.914C2199.69 202.178 2199.76 202.691 2199.48 203.04C2155.45 173.091 2105.13 148.606 2051.73 138.597C1989.1 125.604 1923.23 129.093 1862.37 148.815C1823.87 161.637 1783.29 182.137 1745.35 196.606C1706.02 211.697 1663.05 221.177 1621 213.539C1580.77 206.762 1543.63 188.555 1507.94 169.672C1431.26 127.857 1370.28 94.0077 1279.6 105.003C1199.02 113.388 1122.06 144.005 1040.83 148.271C905.007 156.446 773.579 113.015 640.014 96.7197C586.59 90.0212 532.326 87.9231 478.909 95.0567C425.462 102.097 373.451 117.118 320.68 128.541C268.009 140.112 213.396 147.191 159.637 139.257C66.892 125.246 -12.728 87.7211 -109.195 107.506C-178.596 120.32 -243.91 155.871 -291.701 207.92C-291.996 208.247 -292.501 208.27 -292.828 207.967C-293.154 207.672 -293.177 207.167 -292.882 206.84L-292.874 206.848Z" fill="%23EAEAEA"/><path d="M-438.034 162.516C-332.801 150.44 -222.043 139.328 -116.267 128.853C-35.6989 121.572 44.9857 110.988 126.16 111.275C180.416 111.221 234.882 119.256 287.164 133.274C326.375 143.275 365.074 154.372 404.946 160.869C444.624 167.637 485.164 167.536 524.85 160.356C629.702 142.467 735.098 88.8252 843.12 117.212C895.464 129.863 944.677 154.45 996.547 167.963C1012.38 172.175 1029.01 175.05 1045.32 176.465C1081.82 179.045 1118.29 172.805 1153.84 164.902C1199.73 154.582 1246.57 141.721 1294.11 140.322C1382.6 136.577 1468.96 160.262 1555.46 174.444C1661.55 192.713 1769.75 187.624 1876.49 177.856C1925.05 173.411 1988.8 166.914 2037.47 162.298C2064.3 159.711 2091.14 157.139 2118 154.706C2118.34 154.675 2118.66 154.932 2118.69 155.281C2118.72 155.623 2118.47 155.926 2118.14 155.973C2091.41 159.548 2064.66 162.967 2037.92 166.386C1989.04 172.61 1925.22 180.894 1877.35 186.256C1796.75 195.371 1715.46 201.401 1634.32 196.412C1553.25 191.921 1474.24 170.947 1394.2 159.664C1357.82 154.621 1321.27 151.878 1284.67 153.789C1227.51 156.983 1172.84 175.416 1116.3 184.096C1037.18 196.576 989.305 179.27 917.277 150.518C889.248 139.468 861.117 128.278 831.697 121.603C782.686 109.721 731.422 114.78 682.699 125.838C601.035 144.014 519.721 176.69 434.405 170.108C424.249 169.393 414.124 168.298 404.037 166.961C337.317 157.644 272.36 135.365 206.098 127.376C179.6 124.043 152.853 122.9 126.09 122.628C47.9153 122.457 -37.1676 132.614 -115.373 138.691C-160.017 142.459 -231.788 148.365 -276.595 151.839C-330.353 156.066 -384.12 160.13 -437.925 163.783C-438.275 163.806 -438.578 163.542 -438.601 163.192C-438.624 162.85 -438.376 162.555 -438.034 162.516Z" fill="%23EAEAEA"/></g></svg>');

// Banner wave variant

    /* --- general for this subtheme --- */

.ptype-stanford-page-title-banner {

    .ds-entity--stanford-page-title-banner {
        @include responsive-spacing('padding-top', 6);
        @include responsive-spacing('padding-bottom', 2);
        max-height: $page-title-banner-height;

    }


    .su-hero {
        max-height: $page-title-banner-height;
        min-height: $page-title-banner-height;
        // @TODO: adjust for mobile later here too.
    }

    .su-hero__media {
        display: none;
    }
    .su-card {
        box-shadow: none;
        background: transparent;
        border: none;
        margin-top: 0;

        .su-card .su-card__contents {
            padding: 0;
        }
    }

    /* --- Color options --- */

    .page-theme--default {
        // set lagunita decoration
        h1 {
            @include decoration-underline-basic($gradient-red-bright);
        }
    }

    .page-theme--lagunita {
        // set lagunita decoration
        h1 {
            @include decoration-underline-basic($gradient-lagunita);
        }
    }

    .page-theme--palo-verde {
        // set lagunita decoration
        h1 {
            @include decoration-underline-basic($gradient-palo-verde);
        }
    }

    .page-theme--plum {
        // set lagunita decoration
        h1 {
            @include decoration-underline-basic($gradient-plum-bright);
        }
    }

    .page-theme--illuminating {
        // set lagunita decoration
        h1 {
            @include decoration-underline-basic($gradient-illuminating);
        }
    }

    /* --- wave options --- */

    .page-theme--wave-grey {
        // @TODO: adjust on mobile if we do a different cropped svg..
        background-image: $wave-background-large;
    }
}
