@charset "UTF-8";
@import "../../utilities/mixins/index.scss";
@import "../../utilities/variables/index.scss";

$page-title-banner-height: 214px; // this is the height of the banner image, we can adjust as needed.

@mixin ecorner-banner() {
    background: #b1040e url("../../assets/svg/eCorner-banner.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
// Banner wave variant

    /* --- general for this subtheme --- */

.ptype-stanford-page-title-banner {

    .ds-entity--stanford-page-title-banner {
        @include responsive-spacing('padding-top', 6);
        @include responsive-spacing('padding-bottom', 2);
        max-height: $page-title-banner-height;

    }

    .su-hero {
        max-height: $page-title-banner-height;
        min-height: $page-title-banner-height;
        // @TODO: adjust for mobile later here too.
    }

    .su-hero__media {
        display: none;
    }
    .su-card {
        box-shadow: none;
        background: transparent;
        border: none;
        margin-top: 0;

        .su-card .su-card__contents {
            padding: 0;
        }
    }

    /* --- Color options --- */

    .page-theme--red:not(.ecorner) {
        // set lagunita decoration
        h1 {
            @include decoration-underline-basic($gradient-red-bright);
        }
    }

    .page-theme--lagunita:not(.ecorner) {
        // set lagunita decoration
        h1 {
            @include decoration-underline-basic($gradient-lagunita);
        }
    }

    .page-theme--palo-verde:not(.ecorner) {
        // set lagunita decoration
        h1 {
            @include decoration-underline-basic($gradient-palo-verde);
        }
    }

    .page-theme--plum:not(.ecorner) {
        // set lagunita decoration
        h1 {
            @include decoration-underline-basic($gradient-plum-bright);
        }
    }

    .page-theme--illuminating:not(.ecorner) {
        // set lagunita decoration
        h1 {
            @include decoration-underline-basic($gradient-illuminating);
        }
    }

    /* --- wave options --- */

    .page-theme--wave-grey:not(.ecorner) {
        // @TODO: adjust on mobile if we do a different cropped svg..
        background-image: $wave1-background-large;
        background-repeat: no-repeat;
        width: 100%;
        background-size: 100% 100%;

        @media screen and (max-width: 767px) {
            height: $page-title-banner-height;
            background-repeat: no-repeat;
            // background-size: 139% 91%;
            background-size: 112% 79%;
            background-position: left bottom;
        }
    }

    .ecorner {
        @include ecorner-banner();
    }
}

.ptype-stanford-page-title-banner:has(.ecorner) {
    background: $su-color-digital-red;
}


